In [52]:
import os
import pandas as pd
import zipfile

In [53]:
z = zipfile.ZipFile(os.path.join("E:\FILE TEMPORANEI", "DCCV_OCCUPATIT -  Employment                                 - Full dataset.gz"))
df_dati = pd.read_csv(z.open("DCCV_OCCUPATIT_Data+FootnotesLegend_175b2401-3654-4673-9e60-b300989088bb.csv"), encoding ="cp1252", sep="|", engine = "python")

In [54]:
df_dati

,TER,Territory,Territorio,SEX,Gender,Sesso,E28,Age class,Classe di età,TST,...,Full-time/Part-time,Regime orario,CRO,Temporary employees,Carattere occupazione,TIME,Time and frequency,Tempo e frequenza,0,Flags
0,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2004,2004,2004,1310.214,
1,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2004Q1,Q1-2004,T1-2004,1315.070,
2,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2004Q2,Q2-2004,T2-2004,1353.106,
3,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2004Q3,Q3-2004,T3-2004,1311.081,
4,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2004Q4,Q4-2004,T4-2004,1261.596,
5,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2005,2005,2005,1199.106,
6,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2005Q1,Q1-2005,T1-2005,1207.790,
7,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2005Q2,Q2-2005,T2-2005,1246.021,
8,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2005Q3,Q3-2005,T3-2005,1195.683,
9,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2005Q4,Q4-2005,T4-2005,1146.931,
10,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2006,2006,2006,1077.515,
11,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2006Q1,Q1-2006,T1-2006,1079.591,
12,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2006Q2,Q2-2006,T2-2006,1118.154,
13,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2006Q3,Q3-2006,T3-2006,1058.539,
14,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2006Q4,Q4-2006,T4-2006,1053.774,
15,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2007,2007,2007,1003.871,
16,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2007Q1,Q1-2007,T1-2007,990.306,
17,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2007Q2,Q2-2007,T2-2007,1046.005,
18,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2007Q3,Q3-2007,T3-2007,1009.497,
19,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2007Q4,Q4-2007,T4-2007,969.677,
20,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2008,2008,2008,900.040,
21,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2008Q1,Q1-2008,T1-2008,909.737,
22,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2008Q2,Q2-2008,T2-2008,927.906,
23,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2008Q3,Q3-2008,T3-2008,914.838,
24,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2008Q4,Q4-2008,T4-2008,847.679,
25,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2009,2009,2009,797.549,
26,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2009Q1,Q1-2009,T1-2009,820.421,
27,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2009Q2,Q2-2009,T2-2009,819.886,
28,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2009Q3,Q3-2009,T3-2009,768.160,
29,IT,Italy,Italia,1,males,maschi,28,15 years and over,15 anni e più,3,...,total,totale,9,total,totale,2009Q4,Q4-2009,T4-2009,781.728,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719767,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2009,2009,2009,1398.038,
719768,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2009Q1,Q1-2009,T1-2009,1352.214,
719769,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2009Q2,Q2-2009,T2-2009,1434.194,
719770,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2009Q3,Q3-2009,T3-2009,1406.450,
719771,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2009Q4,Q4-2009,T4-2009,1399.296,
719772,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2010,2010,2010,1468.272,
719773,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2010Q1,Q1-2010,T1-2010,1466.898,
719774,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2010Q2,Q2-2010,T2-2010,1509.026,
719775,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2010Q3,Q3-2010,T3-2010,1430.552,
719776,IT,Italy,Italia,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2010Q4,Q4-2010,T4-2010,1466.613,
719777,IT,Italy,Italia,2,females,femmine,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2014,2014,2014,0.005,0
719778,IT,Italy,Italia,2,females,femmine,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2014Q4,Q4-2014,T4-2014,0.018,0
719779,ITE,Centro (I),Centro,1,males,maschi,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2014,2014,2014,0.076,0
719780,ITE,Centro (I),Centro,9,total,totale,28,15 years and over,15 anni e più,99,...,total,totale,9,total,totale,2014,2014,2014,0.076,0
719781,Legend/Légende,None,None,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719782,Code,English description,Description française,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719783,-,the instance does not exist or any case has no...,il fenomeno non esiste oppure esiste e viene r...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719784,0,less than half of the unit used,il dato non raggiunge la metà della cifra mini...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719785,b,break in series,break nella serie,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719786,c,unseen data because of the statistical confide...,dato oscurato per la tutela del segreto statis...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719787,e,estimate data,dato stimato,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719788,f,forecast,dato previsto,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719789,g,"the instance exists, but is not known for any ...","il fenomeno esiste, ma i dati non si conoscono...",NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719790,n,data statistically not significant (see explan...,dato statisticamente non significativo (vedasi...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719791,p,provisional data,dato provvisorio,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719792,r,revised data,dato aggiornato,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719793,s,strike,sciopero,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719794,t,title for the grouping,è voce da considerarsi come titolo di raggrupp...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719795,u,unreliable or uncertain data (see explanatory ...,dato indisponibile o incerto (vedasi metadati ...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None
719796,y,data not yet revised according to the 2011 Census,dato non ricostruito rispetto alla popolazione...,NaN,None,None,NaN,None,None,NaN,...,None,None,NaN,None,None,None,None,None,NaN,None