In [96]:
import os
import pandas as pd
import zipfile

In [97]:
##dati importati da dati.istat.it

In [101]:
z = zipfile.ZipFile(os.path.join("Average monthly expenditure.gz"))
df_dati = pd.read_csv(z.open("DCCV_SPEMMFAM_Data_a15f683b-48d9-4508-84f0-17ef60e88c1f.csv"), sep=",", encoding = "cp1252")

In [102]:
piemonte = df_dati[df_dati["Territorio"] == "Piemonte"]
piemonte = piemonte[["Anno", "Gruppo di spesa", "0"]]

italia = df_dati[df_dati["Territorio"] == "Italia"]
italia = italia[["Anno", "Gruppo di spesa", "0"]]

alimentari_su_totale = [u'alimentari e bevande',
       u'non alimentari', u'totale']
alimentari_dettaglio = [u'pane e cereali', u'carne', u'pesce', u'latte, formaggi e uova',
       u'oli e grassi', u'patate, frutta e ortaggi',
       u'zucchero, caff\xe8 e drogheria', u'bevande', u'alimentari e bevande']

In [103]:
piemonte = piemonte.pivot(index='Anno', columns="Gruppo di spesa", values="0")[alimentari]
italia = italia.pivot(index='Anno', columns="Gruppo di spesa", values="0")[alimentari]

In [91]:
##Piemonte spesa media delle famiglie alimentare e non.

In [104]:
piemonte[alimentari_su_totale]

Gruppo di spesa  alimentari e bevande  non alimentari   totale
Anno
2001                           395.15         1823.03  2218.18
2002                           401.60         1857.33  2258.93
2003                           428.31         1923.19  2351.50
2004                           444.74         2167.99  2612.73
2005                           443.03         1956.86  2399.89
2006                           455.30         2155.54  2610.83
2007                           463.92         2234.88  2698.80
2008                           473.23         2147.17  2620.40
2009                           475.92         2112.18  2588.10
2010                           476.27         2207.24  2683.51
2011                           482.14         2222.85  2704.99
2012                           471.79         2160.41  2632.20
2013                           490.58         2108.22  2598.79

In [105]:
## Italia spesa media delle famiglie alimentare e non.

In [106]:
italia[alimentari_su_totale]

Gruppo di spesa  alimentari e bevande  non alimentari   totale
Anno
2001                           410.86         1767.46  2178.31
2002                           425.77         1772.03  2197.79
2003                           449.27         1858.27  2307.54
2004                           452.89         1928.18  2381.07
2005                           456.12         1941.42  2397.54
2006                           466.89         1993.91  2460.80
2007                           466.29         2013.78  2480.07
2008                           475.19         2009.45  2484.64
2009                           461.06         1980.71  2441.77
2010                           466.59         1986.68  2453.26
2011                           477.08         2010.83  2487.91
2012                           468.32         1950.95  2419.27
2013                           460.72         1898.33  2359.05

In [93]:
##Piemonte spesa media delle famiglie, dettaglio alimentare

In [94]:
piemonte[alimentari_dettaglio]

Gruppo di spesa,pane e cereali,carne,pesce,"latte, formaggi e uova",oli e grassi,"patate, frutta e ortaggi","zucchero, caffè e drogheria",bevande,alimentari e bevande
Anno,,,,,,,,,
2001,69.70,91.61,27.33,57.59,15.96,67.71,29.80,35.45,395.15
2002,68.95,93.52,27.68,57.02,15.57,70.43,28.61,39.83,401.60
2003,73.97,95.14,28.80,61.47,17.71,77.20,30.40,43.63,428.31
2004,75.95,102.32,29.51,63.38,18.30,78.34,31.76,45.19,444.74
2005,77.75,97.59,31.96,64.91,16.33,79.40,30.23,44.86,443.03
2006,79.10,104.19,31.05,65.77,19.74,79.22,32.13,44.10,455.30
2007,81.31,105.87,32.85,65.88,19.95,81.19,33.11,43.74,463.92
2008,83.11,103.60,34.56,69.92,19.23,82.97,34.71,45.12,473.23
2009,85.04,102.88,34.14,68.08,17.92,87.90,35.28,44.69,475.92
2010,81.68,111.38,32.79,70.65,17.66,82.61,33.71,45.79,476.27
2011,80.69,112.83,33.25,69.65,16.86,83.78,35.39,49.67,482.14
2012,79.98,108.78,36.65,66.96,17.14,82.20,34.71,45.37,471.79
2013,83.23,109.78,37.88,67.54,18.14,89.83,37.90,46.28,490.58

In [107]:
italia[alimentari_dettaglio]

Gruppo di spesa,pane e cereali,carne,pesce,"latte, formaggi e uova",oli e grassi,"patate, frutta e ortaggi","zucchero, caffè e drogheria",bevande,alimentari e bevande
Anno,,,,,,,,,
2001,68.80,93.71,35.56,56.75,15.80,72.36,30.25,37.62,410.86
2002,72.20,98.79,35.96,58.37,15.40,76.24,29.45,39.36,425.77
2003,75.28,101.23,37.75,62.29,16.51,81.73,31.41,43.08,449.27
2004,77.07,102.44,38.51,62.78,16.96,80.78,31.59,42.76,452.89
2005,77.79,103.69,39.69,62.68,17.08,80.16,31.81,43.22,456.12
2006,78.89,105.50,42.31,63.13,18.25,83.33,32.41,43.06,466.89
2007,79.30,105.45,41.71,62.94,17.60,83.54,33.11,42.64,466.29
2008,82.14,107.24,40.54,64.35,17.59,86.11,34.02,43.18,475.19
2009,80.06,104.91,40.07,62.94,16.20,83.27,32.55,41.06,461.06
2010,78.76,109.62,40.78,64.21,15.84,83.38,32.06,41.95,466.59
2011,79.81,113.28,41.21,65.52,15.74,85.15,33.77,42.60,477.08
2012,77.37,110.38,41.39,62.47,15.84,83.48,33.98,43.40,468.32
2013,76.42,106.84,40.88,61.52,15.56,83.97,33.68,41.85,460.72

In [ ]:
##differenza nei consumi fra Piemonte e Italia nel 2013

In [110]:
(piemonte[alimentari_dettaglio] / italia[alimentari_dettaglio] * 100 - 100).loc[2013]

Gruppo di spesa
pane e cereali                  8.911280
carne                           2.751778
pesce                          -7.338552
latte, formaggi e uova          9.785436
oli e grassi                   16.580977
patate, frutta e ortaggi        6.978683
zucchero, caffè e drogheria    12.529691
bevande                        10.585424
alimentari e bevande            6.481160
Name: 2013, dtype: float64

In [111]:
##composizione della spesa alimentare in Piemonte nel 2013

In [115]:
piemonte_composizione = (piemonte[alimentari_dettaglio].divide(piemonte["alimentari e bevande"], axis = 0) * 100).loc[2013]

In [117]:
piemonte_composizione

Gruppo di spesa
pane e cereali                  16.965633
carne                           22.377594
pesce                            7.721473
latte, formaggi e uova          13.767377
oli e grassi                     3.697664
patate, frutta e ortaggi        18.310979
zucchero, caffè e drogheria      7.725549
bevande                          9.433732
alimentari e bevande           100.000000
Name: 2013, dtype: float64

In [116]:
italia_composizione = (italia[alimentari_dettaglio].divide(italia["alimentari e bevande"], axis = 0) * 100).loc[2013]

In [ ]:
##composizione della spesa alimentare in Italia nel 2013

In [118]:
italia_composizione

Gruppo di spesa
pane e cereali                  16.587081
carne                           23.189790
pesce                            8.873068
latte, formaggi e uova          13.353013
oli e grassi                     3.377322
patate, frutta e ortaggi        18.225820
zucchero, caffè e drogheria      7.310297
bevande                          9.083608
alimentari e bevande           100.000000
Name: 2013, dtype: float64

In [ ]:
##differenze fra composizione Piemontese e italiana in termini percentuali

In [120]:
piemonte_composizione / italia_composizione * 100 - 100

Gruppo di spesa
pane e cereali                  2.282206
carne                          -3.502386
pesce                         -12.978551
latte, formaggi e uova          3.103155
oli e grassi                    9.485074
patate, frutta e ortaggi        0.467240
zucchero, caffè e drogheria     5.680377
bevande                         3.854451
alimentari e bevande            0.000000
Name: 2013, dtype: float64