In [44]:
import os
import pandas as pd
import zipfile

In [35]:
dati = pd.read_csv(, sep="|", engine = "python")

In [43]:
z = zipfile.ZipFile(os.path.join("E:\FILE TEMPORANEI", "DCCV_OCCUPATIT -  Employment                                 - Full dataset.gz"))
df_dati = pd.read_csv(z.open("DCCV_OCCUPATIT_Data+FootnotesLegend_175b2401-3654-4673-9e60-b300989088bb.csv"), sep="|", engine = "python")

                   TER                                          Territory  \
0                   IT                                              Italy
1                   IT                                              Italy
2                   IT                                              Italy
3                   IT                                              Italy
4                   IT                                              Italy
5                   IT                                              Italy
6                   IT                                              Italy
7                   IT                                              Italy
8                   IT                                              Italy
9                   IT                                              Italy
10                  IT                                              Italy
11                  IT                                              Italy
12                  IT                                              Italy
13                  IT                                              Italy
14                  IT                                              Italy
15                  IT                                              Italy
16                  IT                                              Italy
17                  IT                                              Italy
18                  IT                                              Italy
19                  IT                                              Italy
20                  IT                                              Italy
21                  IT                                              Italy
22                  IT                                              Italy
23                  IT                                              Italy
24                  IT                                              Italy
25                  IT                                              Italy
26                  IT                                              Italy
27                  IT                                              Italy
28                  IT                                              Italy
29                  IT                                              Italy
...                ...                                                ...
719767              IT                                              Italy
719768              IT                                              Italy
719769              IT                                              Italy
719770              IT                                              Italy
719771              IT                                              Italy
719772              IT                                              Italy
719773              IT                                              Italy
719774              IT                                              Italy
719775              IT                                              Italy
719776              IT                                              Italy
719777              IT                                              Italy
719778              IT                                              Italy
719779             ITE                                         Centro (I)
719780             ITE                                         Centro (I)
719781  Legend/L�gende                                               None
719782            Code                                English description
719783               -  the instance does not exist or any case has no...
719784               0                    less than half of the unit used
719785               b                                    break in series
719786               c  unseen data because of the statistical confide...
719787               e                                      estimate data
719788               f                                           forecast
719789               g  the instance exists, but is not known for any ...
719790               n  data statistically not significant (see explan...
719791               p                                   provisional data
719792               r                                       revised data
719793               s                                             strike
719794               t                            title for the grouping
719795               u  unreliable or uncertain data (see explanatory ...
719796               y  data not yet revised according to the 2011 Census

                                               Territorio  SEX   Gender  \
0                                                  Italia    1    males
1                                                  Italia    1    males
2                                                  Italia    1    males
3                                                  Italia    1    males
4                                                  Italia    1    males
5                                                  Italia    1    males
6                                                  Italia    1    males
7                                                  Italia    1    males
8                                                  Italia    1    males
9                                                  Italia    1    males
10                                                 Italia    1    males
11                                                 Italia    1    males
12                                                 Italia    1    males
13                                                 Italia    1    males
14                                                 Italia    1    males
15                                                 Italia    1    males
16                                                 Italia    1    males
17                                                 Italia    1    males
18                                                 Italia    1    males
19                                                 Italia    1    males
20                                                 Italia    1    males
21                                                 Italia    1    males
22                                                 Italia    1    males
23                                                 Italia    1    males
24                                                 Italia    1    males
25                                                 Italia    1    males
26                                                 Italia    1    males
27                                                 Italia    1    males
28                                                 Italia    1    males
29                                                 Italia    1    males
...                                                   ...  ...      ...
719767                                             Italia    9    total
719768                                             Italia    9    total
719769                                             Italia    9    total
719770                                             Italia    9    total
719771                                             Italia    9    total
719772                                             Italia    9    total
719773                                             Italia    9    total
719774                                             Italia    9    total
719775                                             Italia    9    total
719776                                             Italia    9    total
719777                                             Italia    2  females
719778                                             Italia    2  females
719779                                             Centro    1    males
719780                                             Centro    9    total
719781                                               None  NaN     None
719782                              Description fran�aise  NaN     None
719783  il fenomeno non esiste oppure esiste e viene r...  NaN     None
719784  il dato non raggiunge la met� della cifra mini...  NaN     None
719785                                  break nella serie  NaN     None
719786  dato oscurato per la tutela del segreto statis...  NaN     None
719787                                       dato stimato  NaN     None
719788                                      dato previsto  NaN     None
719789  il fenomeno esiste, ma i dati non si conoscono...  NaN     None
719790  dato statisticamente non significativo (vedasi...  NaN     None
719791                                   dato provvisorio  NaN     None
719792                                    dato aggiornato  NaN     None
719793                                           sciopero  NaN     None
719794  � voce da considerarsi come titolo di raggrupp...  NaN     None
719795  dato indisponibile o incerto (vedasi metadati ...  NaN     None
719796  dato non ricostruito rispetto alla popolazione...  NaN     None

          Sesso  E28          Age class  Classe di et�  TST  ...   \
0        maschi   28  15 years and over  15 anni e pi�    3  ...
1        maschi   28  15 years and over  15 anni e pi�    3  ...
2        maschi   28  15 years and over  15 anni e pi�    3  ...
3        maschi   28  15 years and over  15 anni e pi�    3  ...
4        maschi   28  15 years and over  15 anni e pi�    3  ...
5        maschi   28  15 years and over  15 anni e pi�    3  ...
6        maschi   28  15 years and over  15 anni e pi�    3  ...
7        maschi   28  15 years and over  15 anni e pi�    3  ...
8        maschi   28  15 years and over  15 anni e pi�    3  ...
9        maschi   28  15 years and over  15 anni e pi�    3  ...
10       maschi   28  15 years and over  15 anni e pi�    3  ...
11       maschi   28  15 years and over  15 anni e pi�    3  ...
12       maschi   28  15 years and over  15 anni e pi�    3  ...
13       maschi   28  15 years and over  15 anni e pi�    3  ...
14       maschi   28  15 years and over  15 anni e pi�    3  ...
15       maschi   28  15 years and over  15 anni e pi�    3  ...
16       maschi   28  15 years and over  15 anni e pi�    3  ...
17       maschi   28  15 years and over  15 anni e pi�    3  ...
18       maschi   28  15 years and over  15 anni e pi�    3  ...
19       maschi   28  15 years and over  15 anni e pi�    3  ...
20       maschi   28  15 years and over  15 anni e pi�    3  ...
21       maschi   28  15 years and over  15 anni e pi�    3  ...
22       maschi   28  15 years and over  15 anni e pi�    3  ...
23       maschi   28  15 years and over  15 anni e pi�    3  ...
24       maschi   28  15 years and over  15 anni e pi�    3  ...
25       maschi   28  15 years and over  15 anni e pi�    3  ...
26       maschi   28  15 years and over  15 anni e pi�    3  ...
27       maschi   28  15 years and over  15 anni e pi�    3  ...
28       maschi   28  15 years and over  15 anni e pi�    3  ...
29       maschi   28  15 years and over  15 anni e pi�    3  ...
...         ...  ...                ...            ...  ...  ...
719767   totale   28  15 years and over  15 anni e pi�   99  ...
719768   totale   28  15 years and over  15 anni e pi�   99  ...
719769   totale   28  15 years and over  15 anni e pi�   99  ...
719770   totale   28  15 years and over  15 anni e pi�   99  ...
719771   totale   28  15 years and over  15 anni e pi�   99  ...
719772   totale   28  15 years and over  15 anni e pi�   99  ...
719773   totale   28  15 years and over  15 anni e pi�   99  ...
719774   totale   28  15 years and over  15 anni e pi�   99  ...
719775   totale   28  15 years and over  15 anni e pi�   99  ...
719776   totale   28  15 years and over  15 anni e pi�   99  ...
719777  femmine   28  15 years and over  15 anni e pi�   99  ...
719778  femmine   28  15 years and over  15 anni e pi�   99  ...
719779   maschi   28  15 years and over  15 anni e pi�   99  ...
719780   totale   28  15 years and over  15 anni e pi�   99  ...
719781     None  NaN               None           None  NaN  ...
719782     None  NaN               None           None  NaN  ...
719783     None  NaN               None           None  NaN  ...
719784     None  NaN               None           None  NaN  ...
719785     None  NaN               None           None  NaN  ...
719786     None  NaN               None           None  NaN  ...
719787     None  NaN               None           None  NaN  ...
719788     None  NaN               None           None  NaN  ...
719789     None  NaN               None           None  NaN  ...
719790     None  NaN               None           None  NaN  ...
719791     None  NaN               None           None  NaN  ...
719792     None  NaN               None           None  NaN  ...
719793     None  NaN               None           None  NaN  ...
719794     None  NaN               None           None  NaN  ...
719795     None  NaN               None           None  NaN  ...
719796     None  NaN               None           None  NaN  ...

       Full-time/Part-time Regime orario  CRO Temporary employees  \
0                    total        totale    9               total
1                    total        totale    9               total
2                    total        totale    9               total
3                    total        totale    9               total
4                    total        totale    9               total
5                    total        totale    9               total
6                    total        totale    9               total
7                    total        totale    9               total
8                    total        totale    9               total
9                    total        totale    9               total
10                   total        totale    9               total
11                   total        totale    9               total
12                   total        totale    9               total
13                   total        totale    9               total
14                   total        totale    9               total
15                   total        totale    9               total
16                   total        totale    9               total
17                   total        totale    9               total
18                   total        totale    9               total
19                   total        totale    9               total
20                   total        totale    9               total
21                   total        totale    9               total
22                   total        totale    9               total
23                   total        totale    9               total
24                   total        totale    9               total
25                   total        totale    9               total
26                   total        totale    9               total
27                   total        totale    9               total
28                   total        totale    9               total
29                   total        totale    9               total
...                    ...           ...  ...                 ...
719767               total        totale    9               total
719768               total        totale    9               total
719769               total        totale    9               total
719770               total        totale    9               total
719771               total        totale    9               total
719772               total        totale    9               total
719773               total        totale    9               total
719774               total        totale    9               total
719775               total        totale    9               total
719776               total        totale    9               total
719777               total        totale    9               total
719778               total        totale    9               total
719779               total        totale    9               total
719780               total        totale    9               total
719781                None          None  NaN                None
719782                None          None  NaN                None
719783                None          None  NaN                None
719784                None          None  NaN                None
719785                None          None  NaN                None
719786                None          None  NaN                None
719787                None          None  NaN                None
719788                None          None  NaN                None
719789                None          None  NaN                None
719790                None          None  NaN                None
719791                None          None  NaN                None
719792                None          None  NaN                None
719793                None          None  NaN                None
719794                None          None  NaN                None
719795                None          None  NaN                None
719796                None          None  NaN                None

       Carattere occupazione    TIME Time and frequency Tempo e frequenza  \
0                     totale    2004               2004              2004
1                     totale  2004Q1            Q1-2004           T1-2004
2                     totale  2004Q2            Q2-2004           T2-2004
3                     totale  2004Q3            Q3-2004           T3-2004
4                     totale  2004Q4            Q4-2004           T4-2004
5                     totale    2005               2005              2005
6                     totale  2005Q1            Q1-2005           T1-2005
7                     totale  2005Q2            Q2-2005           T2-2005
8                     totale  2005Q3            Q3-2005           T3-2005
9                     totale  2005Q4            Q4-2005           T4-2005
10                    totale    2006               2006              2006
11                    totale  2006Q1            Q1-2006           T1-2006
12                    totale  2006Q2            Q2-2006           T2-2006
13                    totale  2006Q3            Q3-2006           T3-2006
14                    totale  2006Q4            Q4-2006           T4-2006
15                    totale    2007               2007              2007
16                    totale  2007Q1            Q1-2007           T1-2007
17                    totale  2007Q2            Q2-2007           T2-2007
18                    totale  2007Q3            Q3-2007           T3-2007
19                    totale  2007Q4            Q4-2007           T4-2007
20                    totale    2008               2008              2008
21                    totale  2008Q1            Q1-2008           T1-2008
22                    totale  2008Q2            Q2-2008           T2-2008
23                    totale  2008Q3            Q3-2008           T3-2008
24                    totale  2008Q4            Q4-2008           T4-2008
25                    totale    2009               2009              2009
26                    totale  2009Q1            Q1-2009           T1-2009
27                    totale  2009Q2            Q2-2009           T2-2009
28                    totale  2009Q3            Q3-2009           T3-2009
29                    totale  2009Q4            Q4-2009           T4-2009
...                      ...     ...                ...               ...
719767                totale    2009               2009              2009
719768                totale  2009Q1            Q1-2009           T1-2009
719769                totale  2009Q2            Q2-2009           T2-2009
719770                totale  2009Q3            Q3-2009           T3-2009
719771                totale  2009Q4            Q4-2009           T4-2009