##importazione librerie

In [40]:
import os
import pandas as pd
import urllib

##importazione dati

In [41]:
url_dati_2011_ateco = "http://www.dati.piemonte.it/catalogodati/scarica.html?idallegato=302"
url_dati_2013_ateco = "http://www.dati.piemonte.it/catalogodati/scarica.html?idallegato=760"

In [42]:
urllib.urlretrieve (url_dati_2011_ateco, "dati_2011_ateco.csv")
urllib.urlretrieve (url_dati_2013_ateco, "dati_2013_ateco.csv")

('dati_2013_ateco.csv', <httplib.HTTPMessage instance at 0x000000000AAD1308>)

In [43]:
with open("dati_2011_ateco.csv", "r") as dati:
    dati = dati.read()
    dati = dati.replace(".", "")
with open("dati_2011_ateco.csv", "w") as dati2:
    dati2.write(dati)
    
with open("dati_2013_ateco.csv", "r") as dati:
    dati = dati.read()
    dati = dati.replace(".", "")
with open("dati_2013_ateco.csv", "w") as dati2:
    dati2.write(dati)

In [44]:
dati_2011_ateco = pd.read_csv("dati_2011_ateco.csv", sep=";")
dati_2013_ateco = pd.read_csv("dati_2013_ateco.csv", sep=";")

##Variazione percentuale 2013/2011

In [45]:
variazione_percentuale = dati_2013_ateco.groupby("Codice provincia").sum() / dati_2011_ateco.groupby("Codice provincia").sum() * 100 - 100

In [46]:
variazione_percentuale.drop("Codice comune", axis = 1)

,Agricoltura,Industria in senso stretto,Costruzioni,Commercio,Turismo,Altri servizi,Imprese non classificate,Totale imprese
Codice provincia,,,,,,,,
1,-7.897410,-1.619048,1.074807,-4.307073,6.354075,1.596502,-8.165032,-1.370886
2,-9.195402,0.588235,5.882353,-2.741703,1.237113,-1.253133,-14.193548,-2.534944
3,-2.876106,-1.932367,5.074627,-0.329877,7.114625,1.373932,-5.594406,0.749164
4,-8.803222,-1.668405,1.949318,-2.130565,2.975207,2.093986,-8.108108,-3.398605
5,-13.778878,5.917160,8.695652,-3.006993,6.352941,2.859185,-14.492754,-4.744810
6,-14.156898,-2.027748,1.057082,-2.479339,8.847737,2.095059,-4.491726,-3.447997
96,-0.571429,-6.019417,3.787879,-3.140917,3.316327,-0.291375,2.232143,-1.153761
103,-15.018315,-10.476190,-8.387097,-3.316062,5.325444,4.205128,6.422018,-1.333737

##Variazione percentuale 2013/2011 provincia di Torino

In [47]:
variazione_percentuale.loc[1]

Codice comune                 0.000000
Agricoltura                  -7.897410
Industria in senso stretto   -1.619048
Costruzioni                   1.074807
Commercio                    -4.307073
Turismo                       6.354075
Altri servizi                 1.596502
Imprese non classificate     -8.165032
Totale imprese               -1.370886
Name: 1.0, dtype: float64

##Composizione percentuale dell'imprenditoria femminile per settore

In [48]:
composizione_2013 = dati_2013_ateco.groupby("Codice provincia").sum().drop("Codice comune", axis = 1)

In [49]:
(composizione_2013.divide(composizione_2013["Totale imprese"], axis= 0) * 100).loc[1]

Agricoltura                     6.538670
Industria in senso stretto      7.449072
Costruzioni                     4.238327
Commercio                      30.000000
Turismo                         8.750676
Altri servizi                  37.285019
Imprese non classificate        5.738237
Totale imprese                100.000000
Name: 1.0, dtype: float64

##valori assoluti 2011 - Torino

In [52]:
dati_2011_ateco.groupby("Codice provincia").sum().drop("Codice comune", axis = 1).loc[1]

Agricoltura                    3938
Industria in senso stretto     4200
Costruzioni                    2326
Commercio                     17390
Turismo                        4564
Altri servizi                 20357
Imprese non classificate       3466
Totale imprese                56241
Name: 1.0, dtype: float64

##valori assoluti 2013 - Torino

In [51]:
dati_2013_ateco.groupby("Codice provincia").sum().drop("Codice comune", axis = 1).loc[1]

Agricoltura                    3627
Industria in senso stretto     4132
Costruzioni                    2351
Commercio                     16641
Turismo                        4854
Altri servizi                 20682
Imprese non classificate       3183
Totale imprese                55470
Name: 1.0, dtype: float64